//! **************************************************************************
// Written by: Map P.20131013 on Tue Jun 22 10:51:13 2021
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "buzz" LOCATE = SITE "P2" LEVEL 1;
COMP "led<1>" LOCATE = SITE "P6" LEVEL 1;
COMP "led<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "led<3>" LOCATE = SITE "P8" LEVEL 1;
COMP "led<4>" LOCATE = SITE "P9" LEVEL 1;
COMP "led<5>" LOCATE = SITE "P10" LEVEL 1;
COMP "led<6>" LOCATE = SITE "P11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "P12" LEVEL 1;
COMP "led<8>" LOCATE = SITE "P14" LEVEL 1;
COMP "led<9>" LOCATE = SITE "P15" LEVEL 1;
COMP "key<0>" LOCATE = SITE "P74" LEVEL 1;
COMP "key<1>" LOCATE = SITE "P75" LEVEL 1;
COMP "key<2>" LOCATE = SITE "P78" LEVEL 1;
COMP "key<3>" LOCATE = SITE "P79" LEVEL 1;
COMP "key<4>" LOCATE = SITE "P80" LEVEL 1;
COMP "led<10>" LOCATE = SITE "P16" LEVEL 1;
COMP "led<11>" LOCATE = SITE "P17" LEVEL 1;
COMP "led<12>" LOCATE = SITE "P21" LEVEL 1;
COMP "clk_50MHz" LOCATE = SITE "P55" LEVEL 1;
COMP "led<13>" LOCATE = SITE "P22" LEVEL 1;
COMP "fnd<0>" LOCATE = SITE "P94" LEVEL 1;
COMP "led<14>" LOCATE = SITE "P23" LEVEL 1;
COMP "fnd<1>" LOCATE = SITE "P95" LEVEL 1;
COMP "led<15>" LOCATE = SITE "P24" LEVEL 1;
COMP "fnd<2>" LOCATE = SITE "P97" LEVEL 1;
COMP "fnd<3>" LOCATE = SITE "P98" LEVEL 1;
COMP "digit<0>" LOCATE = SITE "P93" LEVEL 1;
COMP "RXD" LOCATE = SITE "P140" LEVEL 1;
COMP "fnd<4>" LOCATE = SITE "P99" LEVEL 1;
COMP "digit<1>" LOCATE = SITE "P92" LEVEL 1;
COMP "fnd<5>" LOCATE = SITE "P100" LEVEL 1;
COMP "digit<2>" LOCATE = SITE "P88" LEVEL 1;
COMP "fnd<6>" LOCATE = SITE "P101" LEVEL 1;
COMP "digit<3>" LOCATE = SITE "P87" LEVEL 1;
COMP "TXD" LOCATE = SITE "P141" LEVEL 1;
COMP "fnd<7>" LOCATE = SITE "P102" LEVEL 1;
COMP "reset" LOCATE = SITE "P1" LEVEL 1;
COMP "keyLed<0>" LOCATE = SITE "P81" LEVEL 1;
COMP "keyLed<1>" LOCATE = SITE "P82" LEVEL 1;
COMP "keyLed<2>" LOCATE = SITE "P83" LEVEL 1;
COMP "keyLed<3>" LOCATE = SITE "P84" LEVEL 1;
COMP "keyLed<4>" LOCATE = SITE "P85" LEVEL 1;
SCHEMATIC END;

